body {
  background-color: slategrey;
  font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

button {
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.header {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  /*border-radius: 4px;*/
}

.footer {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

h2 {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

form {
  display: grid;
  grid-template-columns: 50% 50%;
}

input {
  width: 100%;
  padding: 0.625rem;
  margin: 1rem 0;
  border: 2px solid black;
  font-size: large;
}

input:focus {
  background-color: lightgray;
}

label {
  color: black;
  text-decoration: underline;
  font-size: large;
  font-weight: 600;
}

@media (max-width: 600px) {
  .App {
    text-align: center;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }

  .header {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    /*border-radius: 4px;*/
  }

  .footer {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  h2 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  form {
    display: grid;
    grid-template-columns: 100%;
  }
}
