body {
  background-color: slategrey;
}

.App {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

button {
  margin-left: 30px;
  margin-right: 30px;
}

.header {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  /*border-radius: 4px;*/
}

.footer {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

h2 {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

form {
  display: grid;
  grid-template-columns: 50% 50%;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 2px solid black;
  font-size: large;
}

input:focus {
  background-color: lightgray;
}

label {
  color: black;
  text-decoration: underline;
  font-size: large;
  font-weight: 600;
}
